body{
    margin:0;
    font-family:Arial;
    background:#f5f5f5;
}

header{
    background:#1f4e79;
    color:white;
    padding:25px;
}

.container{
    padding:20px;
}

.card{

    background:white;

    padding:25px;

    margin-bottom:15px;

    border-radius:10px;

    box-shadow:0 2px 5px rgba(0,0,0,0.2);

    cursor:pointer;

    font-size:20px;

    font-weight:bold;
}

.card:hover{

    background:#e8f0fe;

}